<main>

    <a href="/dashboard-admin/nueva">Crear película</a>

    <section>
        <article>
            <h2>Título</h2>
            <img src="../../public/assets/Logo.png" alt="">
            <p>Año</p>
            <p>Director</p>
            <p>Género</p>
            <p>Duración</p>
            <a href="/dashboard-admin">Ver más</a>
            <a href="/dashboard-admin">Editar</a>
            <a href="/dashboard-admin">Eliminar</a>
        </article>
    </section>

</main>