<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=รง, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav>
        <ul>
            <% if (!isAuthenticated) { %>
                <li><a href="/login/">Login</a></li>
            <% } else { %>
                <li><a href="/logout/">Logout</a></li>
            <% } %>

        </ul>
    </nav>
    <h1> <%- msg %> </h1>
    <pre>
        <%- JSON.stringify(user,null,2) %>
        
    </pre>
    <p><%- token %></p>
</body>

</html>